*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    --content-spacing: 2rem;
    --section-height-padd: 2rem;
    --left-content-width: 60%;
}

img {
    max-width: 100%;
}

.container__flex {
    display: flex;
    gap: var(--content-spacing);
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    min-width: 400px;
    padding: 2rem 1rem;
}

header {
    background-color: #136C72;
}

.nav {
    font-size: 0.75em;
}

.nav__list {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;

    margin: 0;
    list-style: none;
}

.nav__link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.nav__item:hover,
.nav__item:focus {
    opacity: 0.75;
}

.nav__link--button {
    background-color: white;
    color: #136C72;
    padding: 0.5em 1em;
    border-radius: 2rem;
}

.intro {
    background-color: #23424A;
    color: white;
}

.intro-content {
    width: var(--left-content-width);
}

.intro-content > h1 {
    font-size: 3rem;
}

.intro-content > p {
    font-size: 1.3rem;
}

.btn {
    font-size: 0.75rem;
    font-weight: 650;
    color: #23424A;
    text-decoration: none;
    text-transform: uppercase;

    padding: 1em 1.5em;
    border-radius: 5em;
    border: none;
    background-color: #38CFD9;
}

.btn:hover,
.btn:focus {
    opacity: 0.8;
}

.row0 {
    font-size: 1rem;
    padding: var(--section-height-padd) 0;
    line-height: 1.7em;
}

.row0-left-col {
    width: 60%; 
}

.row0-left-col h2 {
    color: #87629A;
}

.row0-right-col {
    width: 40%; 

    display: flex;
    flex-direction: column;
    gap: var(--content-spacing);;

    background-color: #136C72;
    color: white;
    padding: 3rem;
    text-align: center;
}

.row1 {
    font-size: 1.2rem;
    padding: var(--section-height-padd) 0;
    text-align: center;
}


.container__flex-col h2 {
    color: #87629A;
}

.row2 {
    width: 100%;
    background-color: #136C72;
    padding: var(--section-height-padd) 0;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
}
